@import "tailwindcss";
/* .container {
    margin: 10px;
    justify-content: center;
    display: flex;
    gap: 10px;
}

li {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
} */